.header{   
    margin-left: 10rem;    
    padding: 0 20;
}

.headerContainer{
    background: black;
    color: whitesmoke;
}

.coreContainer{
    background: greenyellow;
    color: whitesmoke;
    //margin-left: 10rem;  
   // margin-right: 10rem;  
   // margin-top: 5rem;
   // margin-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
}
